@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --zyrx-color-yellow: #ffda9f;
    --zyrx-color-rose: #ffbdbd;
    --zyrx-color-purple: #664adf;
}


body {
    overflow-x: hidden;
}